parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Service\\\\GrabberService\\:\\:getItems\\(\\) invoked with 1 parameter, 0 required\\.$#"
			count: 1
			path: src/Command/ImportContentCommand.php

		-
			message: "#^Cannot access property \\$parentNode on DOMNode\\|null\\.$#"
			count: 2
			path: src/Grabber/WebsiteGrabber.php

		-
			message: "#^Cannot call method removeChild\\(\\) on DOMNode\\|null\\.$#"
			count: 2
			path: src/Grabber/WebsiteGrabber.php

		-
			message: "#^Method App\\\\Grabber\\\\WebsiteGrabber\\:\\:getNewsItemsFromUrl\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Grabber/WebsiteGrabber.php

		-
			message: "#^Method App\\\\Grabber\\\\WebsiteGrabberInterface\\:\\:getNewsItemsFromUrl\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Grabber/WebsiteGrabberInterface.php

		-
			message: "#^Method App\\\\Grabber\\\\WordpressGrabber\\:\\:getItemsFromFeedUrl\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Grabber/WordpressGrabber.php

		-
			message: "#^Method App\\\\Service\\\\GrabberService\\:\\:__construct\\(\\) has parameter \\$sourceDomains with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/GrabberService.php

		-
			message: "#^Method App\\\\Service\\\\GrabberService\\:\\:getImageFromUrl\\(\\) has parameter \\$removeLinkSelector with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/GrabberService.php

		-
			message: "#^Method App\\\\Service\\\\GrabberService\\:\\:getItems\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/GrabberService.php

		-
			message: "#^Method App\\\\Service\\\\GrabberService\\:\\:removeWordpressContentRelations\\(\\) has parameter \\$removeLinkSelector with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/GrabberService.php

		-
			message: """
				#^PHPDoc tag @param has invalid value \\(array\\<array\\{
				    domain\\: string,
				    page\\-type\\: "website"\\|"wordpress",
				    image\\?\\: string,
				    title\\?\\: string,
				    more\\-link\\?\\: string,
				    remove\\-links\\-selector\\?\\: string\\[\\]
				    tags\\?\\: string\\[\\]
				\\}\\> \\$sourceDomains\\)\\: Unexpected token "tags", expected '\\}' at offset 243$#
			"""
			count: 1
			path: src/Service/GrabberService.php

		-
			message: "#^Property App\\\\Service\\\\GrabberService\\:\\:\\$sourceDomains type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/GrabberService.php

