parameters:
	ignoreErrors:
		-
			message: "#^Cannot access property \\$parentNode on DOMNode\\|null\\.$#"
			count: 2
			path: src/Grabber/WebsiteGrabber.php

		-
			message: "#^Cannot call method removeChild\\(\\) on DOMNode\\|null\\.$#"
			count: 2
			path: src/Grabber/WebsiteGrabber.php

		-
			message: "#^Method App\\\\Grabber\\\\WebsiteGrabber\\:\\:getNewsItemsFromUrl\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Grabber/WebsiteGrabber.php

		-
			message: "#^Method App\\\\Grabber\\\\WordpressGrabber\\:\\:getItemsFromFeedUrl\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Grabber/WordpressGrabber.php

		-
			message: "#^Cannot access property \\$parentNode on DOMNode\\|null\\.$#"
			count: 4
			path: src/Service/GrabberService.php

		-
			message: "#^Cannot call method removeChild\\(\\) on DOMNode\\|null\\.$#"
			count: 4
			path: src/Service/GrabberService.php

		-
			message: "#^Method App\\\\Service\\\\GrabberService\\:\\:getItems\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/GrabberService.php

		-
			message: "#^Property App\\\\Service\\\\GrabberService\\:\\:\\$sourceDomains type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/GrabberService.php

