{% extends 'base.html.twig' %}

{% block content %}

<div class="example-wrapper">
    <h1>WP News - Never Code Alone Open Source Projekt</h1>

    <ul class="list-unstyled">
        {% if news %}
            {% for newsItem in news %}
                <li>
                    <a href="{{ newsItem.link }}" target="_blank">
                        <img class="img-fluid size-news-startpage" src="{{ newsItem.image }}" alt="Responsive image">
                    </a>
                    <div class="media-body">
                        <a href="{{ newsItem.link }}" target="_blank">
                            <h2 class="mt-0 mb-1">{{ newsItem.title }}</h2>
                        </a>
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <p>Please come back later!!</p>
        {% endif %}
    </ul>
</div>
{% endblock %}
